<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All suit.test.Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/mabookair/nixsolutions/autoSchool/JavaAutoSchool/target"/>

    <!-- TESTS FOR Chrome browser -->
    <test name="ChromeTests" verbose="2" preserve-order="true">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="suit.test.Test"></class>
        </classes>
    </test>

    <!-- TESTS FOR Firefox BROWSER -->
    <test name="FirefoxTests" verbose="2" preserve-order="true">
        <parameter name="browser" value="Firefox"></parameter>
        <classes>
            <class name="suit.test.Test"></class>
        </classes>
    </test>

    <!-- TESTS FOR Safari BROWSER -->
    <test name="SafariTests" verbose="2" preserve-order="true">
        <parameter name="browser" value="Safari"></parameter>
        <classes>
            <class name="suit.test.Test"></class>
        </classes>
    </test>

</suite>